#title table {
	position: absolute;
	background-position: center;
	background-size: contain;
	width: 100px;
	height: 100px;
	margin-left: 770px;
	top: 32px;
}

#player {
	display: inline-block;
	vertical-align: middle;
    height: 100px;
	width: 100px;
	opacity: 0.0;
	transition: 0.5s;
}
